.lead {
    max-width: 984px;
    margin: 56px auto 0;
}

@media screen and (max-width: 1080px) {
    .lead {
        margin-left: 48px;
        margin-right: 48px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 984px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
}