.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    max-width: 360px;
    margin: 32px 0 0 0;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .cover__subtitle {
        font-size: 14px;
        max-width: 288px; /* перебрав все разрешения в диапазоне от 210 до 300 так и не смог найти подходящее, самое близкое при щирине 260px, но всё равно не точно :(  */
        line-height: 16px;
        margin-top: 16px;
    }
}