.cover__overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2A2C2F;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.3s linear;
    z-index: -1;
}

.cover__overlay:hover {
    opacity: 0.8;
} 
/* я понимаю, что это было написано в рекомендации как обязательное исправление, но меня беспокоит, что теперь при наведении на текст исчезает затенмнение */